@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Base light theme */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

/* Dark theme custom properties */
@layer base {
  .dark {
    --background: 222.2 84% 4.9%; /* Dark background */
    --foreground: 210 40% 98%; /* Dark text */
  }

  .dark body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
